<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALRSPDzbdPctCjLlLg_LW2Ewx7VQ08-VM</string>
	<key>GCM_SENDER_ID</key>
	<string>874496446953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoesly</string>
	<key>PROJECT_ID</key>
	<string>sp-shoesly</string>
	<key>STORAGE_BUCKET</key>
	<string>sp-shoesly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874496446953:ios:90f0226358c586f8a87b78</string>
</dict>
</plist>